<!-- About page provides information on how to use the website. -->

<% provide(:title, "About") %>
<h1>About</h1>

<p>Purpose</p>
<p>The Peer-Evaluation-Tool is for use in a project-based class for students assess work performed by various team members. Instructors assign students as members of teams that are assigned to projects. Instructors initiate student evaluations and can view the progress of student evaluations.</p>

<p>Capabilities & Features</p>

<ul>
    <li>Teachers can send out peer evaluations for students to complete.</li>
    <li>Peer evaluations can be checked from a specific teacher perspective.</li>
    <li>Studens can view their own peer evaluations left by other students but reviewee name is anonymous.</li>
    <li>Instructor has ability to create users, projects, teams, and initiate peer reviews.</li>
    <li>Extensive login capabilities</li>
    <ul>
      <li>Views distinct to user logged in based on user.</li>
      <li>Security feature: user information (ID, passwords, etc) is not passed in plain text and/or not visible (hidden HTML) within webpage source code as needed.</li>
      <li>Gravitar image upload available.</li>
    </ul>
</ul>

<p>
  This peer evaluation tool is based off of the
  <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial: Learn Web Development with Rails (6th Edition)</a>
  by 
  <a href="https://www.michaelhartl.com/">Michael Hartl</a>.
</p>