<!-- About page provides information on how to use the website. -->

<% provide(:title, "About") %>
<h1>About</h1>


<ul>
    <li>The Peer-Evaluation-Tool is for use in a project-based class for students assess work performed by various team members.</li>

    <li>Different levels of users: system, teacher, student; scope of features dependent available differ between levels.</li>
    <li>Ability to create users, projects, teams, and peer reviews.</li>
<p>

  The <a href="https://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a>, part of the
  <a href="https://www.learnenough.com/">Learn Enough</a> family of
  tutorials, is a
  <a href="https://www.railstutorial.org/book">book</a> and
  <a href="https://screencasts.railstutorial.org/">screencast series</a>
  to teach web development with
  <a href="https://rubyonrails.org/">Ruby on Rails</a>.
  This is the sample app for the tutorial.
</p>