<!-- Contact page provides contact information for the course -->

<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<table id='contact'>
  <thead>
     <tr> <th> </th>
          <th scope="col">Charlie Giles </th>
          <th scope="col">Tushar Bandi </th>
          <th scope="col">Glenn Jenkins </th>
     </tr>
  </thead>
  <tbody>
     <tr> <th scope="row"> email </th>
          <td> <code>giles.25</code> (at <code>osu.edu</code>) </td>
          <td> <code>bandi.11</code> </td>
          <td> <code>jenkins.1085</code> </td>
     </tr>
     <tr> <th scope="row"> office </th>
          <td> Baker Systems 418B </td>
          <td> Zoom (see Carmen) </td>
          <td> Zoom (see Carmen) </td>
     </tr>
  </tbody>
</table>