<h1>Student Roster</h1>

<table class="roster">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td>
                <%= user.id %>
                </td>
                <td>
                <%= user.name %>
                </td>
                <td>
                <%= user.email %>
            </tr>
        <% end %>
    </tbody>
</table>