<h1>Student Roster</h1>

<table class="roster">
    <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <td>
            <%= user.id %>
            </td>
            <td>
            <%= user.name %>
            </td>
            <td>
            <%= user.email %>
        <% end %>
    </tbody>
</table>