<!-- Page for new memberships -->

<h1>New Membership</h1>

<%= render 'form', membership: @membership %>

<%= link_to 'Cancel', teams_path + "/" + Team.find(params[:team_id]).id.to_s, :class => 'btn btn-danger' %>