<!-- Displays the team and user associated with the peer evaluation -->

<p id="notice"><%= notice %></p>

<p>
    <% @team = Team.find_by_id(@peer_evaluation.team_id) %>
    <% @user = User.find_by_id(@peer_evaluation.user_id) %>
    <strong>Team: </strong>
    <%= @team.name if @team != nil %>
    <br>
    <strong>User: </strong>
    <%= @user.name if @user != nil %>
</p>

<%= link_to 'Back', peer_evaluations_path %>
