<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<p>
  <strong>Teams:</strong>
  <br>
  <ul>
    <% @project.team_ids.each do |i| %>
      <li><%= Team.find(i).name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Back', projects_path, :class => 'btn btn-secondary' %>
